<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
</head>
    <body>
        <h1>Pets Available for Adoption</h1>
        <ul>
            {% for pet in pets %}
            <li>
                <strong>{{ pet.name }}</strong>
                <br>
                {% if pet.photo_url %}
                    <img src="{{ pet.photo_url }}" alt="{{ pet.name }}">
                    <br>
                {% endif %}
                {% if pet.available %}
                    <strong>Available</strong>
                {% else %}
                    Not Available
                {% endif %}
                <br>
                <a href="{{ url_for('view_pet', pet_id=pet.id) }}">View/Edit</a>  <!-- Add this link -->
            </li>
            <br>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add_pet') }}">Add a New Pet</a>
    </body>
</html>